<!-- show.html.erb -->

<table border="1">
	<tr>
		<td>Model</td>
		<td><%= @mobile.model %></td>
	</tr>
	<tr>
		<td>Maunfacturer</td>
		<td><%= @mobile.manufacturer %></td>
	</tr>
	<tr>
		<td>Operating System</td>
		<td><%= @mobile.operating_system %></td>
	</tr>
</table>

<%= link_to "Edit", @mobile %>